<!-- ======= views/menu ======= -->

<div id="menu">
    <a href="/"><div class="menu_item">Home</div></a>
    <!-- <a href="/new_user_post"><div class="menu_item">Post</div></a> -->
    <!-- <a href="/user_update"><div class="menu_item">edit profile</div></a>
    <a href="/directory"><div class="menu_item">directory</div></a>
    <a href="/signout"><div class="menu_item">sign out</div></a> -->
</div>
