<%= @post.title %> <br>
<%= @post.content %> <br>

<% @comments.each do |comment| %>
    <p> <%= comment.content %> </p>
<% end %>

<% puts "**** @user.inspect: #{@user.inspect} ****" %>
<% puts "**** @comment.inspect: #{@comment.inspect} ****" %>

<br> <%= render :partial => 'comments/form' %>
